<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Lab Helpers</title>
     <link rel="stylesheet" href="lab_detail.css">
</head>
<body>
<div class="header"> <img src="emc24.png" alt="E=mc^2 image" width="40px" height="25px"> Lab Helpers </div>
<div class="subheader">  Lab Number: Lab Name </div>

<table>
  <caption>Grades</caption>
  <tr>
    <th>Topic 1</th>
    <th>Topic 2</th>		
    <th>Topic 3</th>
    <th>Topic 4</th>		
    <th>Total</th>
  </tr>
  <tr>
    <td>grade1</td>
    <td>grade2</td>		
    <td>grade3</td>
    <td>grade4</td>		
    <td>Total</td>
  </tr>
</table>

<form>
	<div class="question-body">
	<p class="topic">Topic Name</p>
	<ol>
		<li>
			<p class="question">Question Text</p>
			<p id="choice"><input type="radio" name="multiple_choice_options" value="choice1"> Choice 1</p>
			<p id="choice"><input type="radio" name="multiple_choice_options" value="choice2"> Choice 2</p>
			<p id="choice"><input type="radio" name="multiple_choice_options" value="choice3"> Choice 3</p>
			<p id="choice"><input type="radio" name="multiple_choice_options" value="choice4"> Choice 4</p>
			<p id="choice"><input type="radio" name="multiple_choice_options" value="choice5"> Choice 5</p>
		</li>
		
		<br>
		
		<li>
			<p class="question">Question Text</p>
			<p id="choice"><input type="radio" name="multiple_choice_options" value="choice1"> Choice 1</p>
			<p id="choice"><input type="radio" name="multiple_choice_options" value="choice2"> Choice 2</p>
			<p id="choice"><input type="radio" name="multiple_choice_options" value="choice3"> Choice 3</p>
			<p id="choice"><input type="radio" name="multiple_choice_options" value="choice4"> Choice 4</p>
			<p id="choice"><input type="radio" name="multiple_choice_options" value="choice5"> Choice 5</p>		
		</li>
	</ol>
	</div>
	<br>
	<br>
<p id="button"><input type="submit" value="Submit"></p>
</form>